.projectPanel {
  width: 100%;
  min-height: 600px;
  /* display:flex; */
  /* justify-content: flex-end; */
}

.projectCollectionHeader {
  text-align: center;
  hyphens: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.projectCollectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.projectCollectionDescription {
  text-align: left;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-width:2px;
  border-bottom-width: 2px;
  border-bottom-color: rgb(180,180,180);
  border-top-color: rgb(180,180,180);
  background: linear-gradient(to right, rgba(255,255,255,0), 15%, rgba(255,255,255,0.65), 85% , rgba(255,255,255,0));
}

.projectTitle {
  font-size: 2.5rem;
  text-align: right;
  float:right;
  /* display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end; */
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5px;
  /* padding-top: 10px; */
  margin-bottom: 20px;
  width:25%;
  /* justify-content: flex-end; */
  /* width:25%; */
  /* justify-content:flex-end; */
  /* background: linear-gradient(to bottom, #95adbe, 5%, white); */
  /* border:0px; */
  /* border-top:2px; */
  /* border-bottom:1px; */
  /* border-style: solid; */
  border-color:#574f7d;
  /* border-color: red; */
  /* background-color: white; */
  /* background: linear-gradient(to right, white, rgba(255,255,255,0)); */
  background: linear-gradient(to left, white, rgba(255,255,255,0));
  /* max-height: 30px; */

  /* padding-top: 10px; */
  /* margin-top: 10px; */
}
