body {
  /* font-size:1.5em; */
  background: linear-gradient(170deg, #95adbe, #e0f0ea,#95adbe);
  font-family: Ariel;
  /* display:inline-flex;
  flex-wrap: wrap; */

  /* height: 100%; */
  /* display:flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* border-style:groove; */
  /* display:grid; */
  /* grid-column-template: 1fr 2fr; */
}
