.about{
  margin-left: 25px;
  margin-top: 30px;
}

.aboutTitle{
  display: inline-flex;
}

.aboutName{
  justify-content: flex-start;
  /* align-self:flex-end; */
  align-content: flex-end;
  /* margin:0; */
  /* align-items:flex-end; */


  /* margin:0; */
  font-size: 3rem;
}

.description {
  color:blue;
}

.profilePic{
  border-radius: 50%;
  width:150px;
  height:150px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-right: 50px;
}
