.navBar {
  display: inline-flex;
  justify-content: flex-end;

  width: 100%;
  fort-size:1.5rem;

}

.navBarItem {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
  border-radius: 5px;
  border-width:1px;
  border-style: dashed;
  border-color: white;
  font-weight: bold;
  color: light-blue;
  cursor: pointer;
}

.navBarItem:hover {
  background: linear-gradient(to top, rgba(100,100,100,1) 0%, rgba(100,100,100,0) 30%);
}

.activeNavBarItem {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
