.contactContainer {
  display:grid;
  justify-content: center;
  align-content: center;
  width:100%;
  min-height:300px;
  padding-bottom: 50px;
}

.contactForm {
  display:grid;
  justify-content: center;
}

.contactMessage{
  text-overflow: ellipsis;
  width:auto;
  min-height: 100px;
  resize:none;
}

.contactValidError{
  width:100%;
  font-size: 0.75rem;
  color:red;
}
.contactSubmit{
  width:50%;
  margin:auto;
}

.contactThanks{
  margin:auto;
  width:50%;
  font-size:1.25rem;
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0,0,0,0.15);
  border-width: 1px;
  background-color: white;
  padding: 30px;
  min-width: 100px;
  min-height: 100px;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
  /* text-align: center; */
}
.contactSubmit:hover{

}

.contactLabels{
  text-align: center;
}

.contactInput{
}

.contactDropdown{
  width:100%;
}
