.gameCreditBox {
  display:inline-flex;
  flex-wrap: wrap;
  /* background: linear-gradient(to bottom, #95adbe, 5%, white); */
  width: 100%;
}

.gameCreditContainer{
  background: linear-gradient(190deg,#e0f0ea,90%,#95adbe);
  border-radius: 5px;
  /* border-color:red; */
  display:grid;
  grid-template-rows: minmax(100px, 1fr) 0.25fr minmax(50px,0.75fr);
  align-content: flex-start;
  width:40%;
  min-width: 200px;
  max-width: 300px;
  height:25%;
  max-height:400px;
  border-style:solid;
  border-width: 2px;
  border-color: #e0f0ea;
  /* max-height: 250px; */
  /* max-height: 500px; */
  /* border:50px; */
  /* padding:2px; */
  /* padding-bottom: 10px; */
  margin: 5px;
}

.gameBox {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width:100%;
  min-width: 100px;
  min-height: 50px;
  /* height:minmax(100px,300px); */
  /* height:66%; */
}

.gameTitle {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom, #95adbe, 5%, white);
  border:0px;
  border-top:2px;
  border-bottom:1px;
  border-style: solid;
  border-color:#574f7d;
  /* border-color: red; */
  background-color: white;
  /* max-height: 30px; */

  /* padding-top: 10px; */
  /* margin-top: 10px; */
}

.tagbox, .skillTagBox {
  display: flex;
  flex-wrap: wrap;
  /* flex-shrink: 50%; */
  align-content:flex-start;
  justify-content: center;
  padding: 5px;
  /* background: linear-gradient(to bottom, #95adbe, 5%, white); */
  /* max-height: 50%; */
  background-color: #FFE9C3;
  /* background: linear-gradient(30deg, blue, green); */
}

.gameTag, .skillTag{
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: #574f7d; */
  background: linear-gradient(0deg,#4E8F82,5%,#8EBAB1);
  border-radius: 4px;
  border: 1px;
  border-style: groove;
  border-color: #95adbe;
  /* border-width: medium; */
  /* width: minmax(100px, 100px); */
  /* width: 20%; */
  /* height: 20%; */

  margin:2px;
}
.gameTag:hover, .skillTag:hover {
  /* background-color: white; */
  background: linear-gradient(180deg,#574f7d,5%,#95adbe);
}
