.header{
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: linear-gradient(1deg, rgba(255,255,255,0) 19%, rgba(128,128,128,1) 22%,rgba(255,255,255,1) 22.5%);
}

.banner{
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
}

.headerName{
  font-size: 3rem;
  padding-right: 20px;
  width: 100%;
  text-align: right;
}
