.footer{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  /* background: linear-gradient(179deg, rgba(255,255,255,0) 25%,rgba(255,255,255,1) 25.5%); */
  /* background: linear-gradient(180deg, rgba(255,255,255,0) 25%,rgba(255,255,255,1) 25.5%); */
  background-color: white;
  box-shadow: 2px 5px 5px lightgrey;
}

.footerBlock{
  display: inline-flex;
  justify-content:center;
  flex-wrap:wrap;
  /* margin: auto; */
  width: 100%;
}

.footerIcon{
  padding-left: 10px;
  padding-right: 10px;
}

.footerIconImg{
  width: 32px;
  height: 32px;
}

.copywrite{
  display:block;
  text-align: center;
  font-size: 0.65rem;
}
