.tagbox, .skillTagBox {
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  justify-content: center;
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  filter: drop-shadow(3px 3px 2px rgb(128,128,128));
  background-color: #FFE9C3;
}

.gameTag, .skillTag{
  padding-left: 10px;
  padding-right: 10px;
  /* background: linear-gradient(0deg,#4E8F82,5%,#8EBAB1); */
  background-color:#8EBAB1;
  /* border-radius: 4px; */
  border: 1px;
  border-style: groove;
  border-color: #95adbe;
  margin:2px;
}
